//Header


.header__inner {

	@include _565 {
		padding: 20px 15px;

	}

	& .nav {
		@include _1100 {
			display: none;

		}
	}

	& .button__mobile {
		@include _1100 {
			display: flex;

		}
	}

	& .nav__mobile {
		@include _565 {
			padding: 60px 0px;
			width: 100%;

			& .nav__list {
				align-items: center;
			}

			& .nav__list__link {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					background: url(../img/welcome/leafs/leaf-title-1.png);
					top: -8px;
					left: -53px;
					width: 52px;
					height: 43px;
				}
			}

		}
	}

	& .header__social {
		@include _1100 {
			display: none;

		}
	}

}

//Welcome 

.welcome {
	@include _565 {
		padding-bottom: 50px;
	}

	&:after {
		height: 70px;
	}
}

.welcome__content {

	@include _565 {
		padding: 0px;
		margin-bottom: 14px;
	}

	&__title {
		@include _565 {
			font-size: 24px;
			font-weight: 100;
			line-height: 20px;
			margin-bottom: 0;
		}

		@include _412 {
			&::after {
				display: none;
			}
		}
	}

	&__title-main {
		@include _565 {
			margin-bottom: 0px;

			&::after {
				display: none;
			}

			&::before {
				display: none;
			}
		}
	}

	&__subtitle {
		@include _565 {
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			margin-bottom: 5px;
		}
	}

	&__text {
		@include _565 {
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 20px;
		}

	}
}

.welcome__subcontent {

	@include _565 {
		max-width: 343px;
		margin: 0 auto;
	}

	&__title {
		@include _700 {

			&::after {
				display: none;
			}
		}

		@include _565 {
			max-width: 410px;
			margin-bottom: 5px;

		}

	}




}


//Sequoia


.sequoia__body {
	@include _1100 {
		padding: 40px 50px;

		&__img {
			width: 327px;
			height: 494px;
			top: -31%;
		}
	}

	@include _870 {
		&__img {
			width: 271px;
			height: 462px;
			top: -23%;
			left: 34%;
		}

	}

	@include _780 {
		flex-direction: column;
		margin-bottom: 25px;

		&__img {
			display: none;

		}

	}

	@include _565 {
		padding: 20px 15px;
	}

}

.sequoia__info {

	@include _995 {

		&__title {
			font-size: 48px;
			line-height: 45px;

			&::after {
				top: 39px;
				left: 6px;
			}
		}
	}

	@include _780 {
		margin-bottom: 20px;

		&__subtitle {
			margin-bottom: 15px;
			margin-left: 0;
			max-width: 100%;
		}

		&__title {
			font-size: 30px;
			line-height: 20px;
			margin: 0 auto;
			text-align: center;


			&::after {
				display: none;
			}

		}
	}

	@include _565 {

		&__title {
			font-size: 30px;
		}
	}

	@include _412 {

		&__subtitle {
			margin-bottom: 5px;
			font-size: 30px;
		}

		&__title {
			font-size: 28px;
			line-height: 35px;
		}

	}

}

.sequoia__subscribe {
	@include _780 {
		max-width: 500px;
		text-align: center;

		&::after {
			top: 60px;
			right: 49px;
			transform: rotate(60deg);
		}

		&__title {
			text-align: center;
		}

		&__btn {
			margin: 0 auto;
		}

	}

	@include _565 {
		max-width: 100%;

		&::after {
			display: none;
		}

		&__title {
			font-size: 20px;
			line-height: 25px;
		}

	}



}

.sequoia__content {
	@include _780 {
		& .sequoia__items {
			grid-template-columns: repeat(1, 1fr);
			margin-bottom: 30px;
		}

		& .sequoia__item {
			padding: 32px 24px;
		}
	}

	@include _565 {

		&__title {
			font-size: 35px;
			line-height: 35px;
		}

		& .sequoia__item {
			padding: 24px 18px;
		}
	}
}

//Purchasing 

.purchasing {

	@include _780 {
		margin-bottom: 40px;

		&__title {
			font-size: 40px;
			margin-bottom: 20px;

			&::before {
				display: none;
			}
		}

		&__items {
			grid-template-columns: repeat(2, 1fr);

		}
	}

	@include _565 {
		&__items {

			grid-template-columns: repeat(1, 1fr);

			& .purchasing__item {
				background-color: #191D2E;
				padding: 24px 18px;
			}
		}
	}


}


//Calc

.calc__top {

	@include _870 {
		flex-direction: column;
		row-gap: 20px;


		&__title {

			&::after {
				content: '';
				position: absolute;
				background: url(../img/sequoia/Right\ arrow.svg) no-repeat;
				width: 23px;
				height: 93px;
				top: 63px;
				right: 33px;
				transform: rotate(42deg);
			}
		}

		& .formula__title {
			padding: 10px;
			border: 2px solid #C2E978;
			border-radius: 20px;

		}
	}

	@include _565 {

		&__title {
			font-size: 35px;
			line-height: 37px;

			&::after {
				display: none;
			}
		}
	}
}

.calc__body {

	@include _1100 {
		padding: 30px 10px;
		flex-wrap: wrap;
		justify-content: center;


		&__btn {
			max-width: 277px;
			margin-left: 0;
			padding: 30px;
		}

	}

	@include _780 {
		flex-direction: column;
		row-gap: 20px;

		&__375 {
			margin-left: -40px;
		}

		&__btn {
			padding: 30px 80px;
			flex: 50px;
		}
	}
}

.calc__bottom {
	@include _1100 {
		margin-bottom: 80px;

	}

	@include _780 {
		margin-bottom: 50px;

	}

	@include _412 {
		&__item {
			justify-content: start;
			align-items: flex-start;

			& .calc__bottom__text {
				text-align: left;
			}
		}
	}
}



//Classik

.classic {

	@include _1100 {
		margin-bottom: 80px;

		&__btn {
			padding: 20px 14px;
			letter-spacing: 0.04em;
		}

	}

	@include _700 {
		margin-bottom: 40px;
	}



}


.classic__info {
	@include _1100 {
		margin-bottom: 30px;
		padding: 0px 40px;

		&__text {
			max-width: 610px;
		}

	}

	@include _870 {
		flex-direction: column;
		row-gap: 20px;

		&__title {
			max-width: 100%;

			&::after {
				display: none;
			}

			&::before {
				content: '';
				position: absolute;
				background: url(../img/classic/star__icon.svg ) no-repeat;
				width: 13px;
				height: 13px;
				top: -6px;
				left: -10px;
			}

			& span {
				color: $mainColor;
				margin-left: 0;
			}
		}

		&__text {
			max-width: 100%;
			text-align: center;
		}
	}

	@include _780 {
		margin-bottom: 20px;
		padding: 0px 15px;

	}


	@include _565 {
		padding: 0px;

		&__title {
			font-size: 45px;

		}
	}

	@include _412 {
		&__title {
			font-size: 35px;
		}
	}

}

.classic__items {

	@include _700 {
		flex-direction: column;
		padding: 0px 40px;

	}

	@include _412 {
		margin-bottom: 11px;
	}

}



// Airdrop

.airdrop {
	@include _565 {
		margin-bottom: 50px;

		&__subtitle {
			margin-bottom: 75px;

		}
	}

}

.airdrop__items {
	@include _1100 {
		padding: 0px 0px 0px 40px;
	}

	@include _995 {
		justify-content: center;
		grid-template-columns: repeat(2, 250px);
		gap: 70px 0px;
		padding: 0px;

		& .airdrop__item {

			&__img--green {

				&::before {
					display: none;
				}

				&+.airdrop__item__text {
					font-size: 32px;
				}
			}

			&__img--orange {

				&::before {
					display: none;
				}
			}

			&__img--pink {

				&::before {
					display: none;
				}

				&+.airdrop__item__text {
					font-size: 32px;
					line-height: 12px;
				}
			}

			&__img--white {
				&+.airdrop__item__text {
					font-size: 32px;
				}
			}
		}

	}

	@include _565 {
		grid-template-columns: repeat(1, 1fr);
		gap: 70px 0px;


		& .airdrop__item:nth-child(4),
		.airdrop__item:nth-child(2),
		.airdrop__item:nth-child(1) {
			row-gap: 60px;
		}

	}


}






//Tokenomics

.tokenomics {
	@include _1100 {
		&__wrapper {
			padding: 40px 20px;
		}
	}

	@include _780 {
		margin-bottom: 40px;

		&__wrapper {
			padding: 40px 20px;
			flex-direction: column;
		}

		&__title {
			max-width: 300px;
			margin: 0 auto;

		}
	}

	@include _565 {

		&__wrapper {
			padding: 30px 20px;
			margin: 0px -15px;
		}

		&__title {
			font-size: 42px;
			line-height: 30px;

		}

	}


}

.tokenomics__info {

	@include _565 {
		&__list {
			margin: 20px 0px;

			&-item {
				align-items: flex-start;
			}
		}
	}
}


//Roadmap

.roadmap {
	@include _995 {
		padding-top: 0;
	}

	@include _565 {
		margin-bottom: 76px;

		&__title {
			font-size: 42px;
		}
	}



}


.roadmap__slider {

	@include _995 {
		.slide {
			padding: 20px 20px 20px 25px;
			background-color: #191D2E;
			color: #7E839A;

			&__icon {
				margin-bottom: 12px;
			}

			&__descr {
				font-size: 18px;
			}
		}
	}


	@include _870 {
		.slide {
			&__descr {
				font-size: 18px;
			}
		}
	}

	@include _565 {

		.slide {
			padding: 32px 20px 30px 24px;

			&__icon {
				margin-bottom: 12px;
			}

			&__descr {
				font-size: 20px;
			}


		}

		& .slick-dots {
			column-gap: 0px;

			& li {
				width: 13px;
				height: 13px;
			}
		}
	}

	@include _412 {

		.slide {
			padding: 15px 20px;

			&__icon {
				margin-bottom: 12px;
			}
		}
	}

}

//Team

.team {
	@include _1100 {
		margin-bottom: 50px;

		&__title {
			line-height: 36px;
			margin-bottom: 25px;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			column-gap: 19px;

		}
	}

}

.team__item {
	@include _1100 {
		flex: 270px;
	}

	@include _412 {
		flex: auto;
	}

}


//Footer

.footer {
	@include _1100 {
		&__wrapper {
			padding: 20px 50px;
			margin-bottom: 50px;

		}
	}

	@include _995 {
		&__img {
			display: none;
		}

	}

	@include _870 {
		&__wrapper {
			padding: 20px 30px;

		}

		&__social {
			column-gap: 40px;
		}

	}

	@include _700 {
		&__wrapper {
			flex-direction: column;
			padding: 20px;
			margin-bottom: 30px;
			min-height: 170px;
		}

		&__title {
			font-size: 40px;
			line-height: 45px;
			max-width: 100%;
		}
	}

	@include _565 {
		&__title {
			max-width: 276px;
		}

		&__copy {
			&:after {
				display: none;
			}
		}
	}
}